In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/tracylee/raw_dogs/0.csv')

In [4]:
for i in xrange(1,150):
#     try:
    df2 = pd.read_csv('/Users/tracylee/raw_dogs/{}.csv'.format(i))
    df = pd.concat([df,df2])
#     except:
#         pass

In [6]:
df['animalFoundDate']=pd.to_datetime(df['animalFoundDate'], infer_datetime_format=True)
df['animalAvailableDate']=pd.to_datetime(df['animalAvailableDate'], infer_datetime_format=True)

In [7]:
sorted_df = df[['animalOrgID','animalID', 'animalFoundDate','animalAvailableDate']].sort(['animalOrgID','animalID'])
sorted_df.fillna('nothing', inplace=True)

/Users/tracylee/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [16]:
sub_df = sorted_df[(sorted_df['animalFoundDate']!='nothing') & (sorted_df['animalAvailableDate']!='nothing')]

In [23]:
sub_df['avail_found_diff'] = sub_df['animalAvailableDate'] - sub_df['animalFoundDate']

AttributeError: 'Series' object has no attribute 'days'

In [24]:
sub_df['avail_found_diff'] = sub_df['avail_found_diff'].apply(lambda x: x.days)

/Users/tracylee/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [8]:
sorted_df.head()

     animalOrgID  animalID animalFoundDate
833           16       502         nothing
831           16       504         nothing
832           16       505         nothing
830           16       506         nothing
829           16       508         nothing

In [9]:
blah = df['animalOrgID'].value_counts()
blah = pd.DataFrame(blah)
blah = blah.reset_index()
blah.columns = ['OrgID', 'count']
orgs_of_interest = blah['OrgID'].values[:10]
print orgs_of_interest
sorted_df[(sorted_df['animalFoundDate']!='nothing')]

[2647 2741 2828 2736 1143 2866 2924 2865 2259  829]

      animalOrgID  animalID      animalFoundDate
1769           30   1289551  2009-02-10 00:00:00
621            30   1294276  2009-03-09 00:00:00
1363           30   1298394  2009-03-07 00:00:00
972            44   1166332  2009-01-03 00:00:00
1131           44   1190818  2009-01-05 00:00:00
1666           44   1233514  2008-11-28 00:00:00
663            53    982451  2008-10-14 00:00:00
328            53    991504  2008-10-06 00:00:00
798            53    993112  2008-10-17 00:00:00
50             53   1187278  2009-01-13 00:00:00
348            53   1205367  2009-01-06 00:00:00
706            53   1227692  2009-01-28 00:00:00
1820           65    979051  2008-10-13 00:00:00
144            65    979079  2008-10-13 00:00:00
1676           65    979083  2008-10-13 00:00:00
697            65   1264875  2009-02-18 00:00:00
1489           65   1293700  2009-03-05 00:00:00
977            65   1293710  2009-03-05 00:00:00
1597           65   1293715  2009-03-05 00:00:00
1739           65   1293722  2009-03-05 00:00:00
575            65   1293771  2009-03-05 00:00:00
849            65   1310469  2009-03-07 00:00:00
200            65   1310660  2009-03-14 00:00:00
50             65   1310670  2009-03-14 00:00:00
1867           65   1338627  2009-03-28 00:00:00
805            66   1041330  2008-12-06 00:00:00
1735           70   1070936  2008-12-02 00:00:00
425            84    973649  2008-10-11 00:00:00
647           112   1251400  2009-02-10 00:00:00
1403          114   1322039  2009-03-18 00:00:00
...           ...       ...                  ...
926          2822   1273270  2009-02-09 00:00:00
1735         2841   1157934  2008-09-15 00:00:00
86           2841   1157940  2008-12-09 00:00:00
618          2856   1174377  2008-11-15 00:00:00
352          2856   1182065  2009-01-07 00:00:00
532          2865   1304794  2009-03-05 00:00:00
1962         2865   1323748  2009-03-20 00:00:00
896          2865   1331088  2009-03-01 00:00:00
1031         2865   1331091  2009-03-27 00:00:00
1033         2865   1331098  2009-03-27 00:00:00
878          2869   1301406  2009-03-01 00:00:00
1355         2924   1274424  2009-02-28 00:00:00
1043         2924   1294226  2009-03-06 00:00:00
1033         2973   1287790  2009-03-05 00:00:00
93           2973   1294290  2009-03-09 00:00:00
1755         2973   1294412  2009-03-09 00:00:00
1035         2973   1294443  2009-03-09 00:00:00
763          2973   1294466  2009-03-09 00:00:00
805          2973   1294513  2009-03-10 00:00:00
1522         2973   1294544  2009-03-10 00:00:00
1359         2973   1294551  2009-03-10 00:00:00
1361         2973   1294554  2009-03-10 00:00:00
1354         2973   1296776  2009-03-11 00:00:00
505          2973   1318574  2009-03-20 00:00:00
924          2973   1326760  2009-03-24 00:00:00
47           2973   1329050  2009-03-26 00:00:00
48           2973   1329055  2009-03-26 00:00:00
50           2973   1329058  2009-03-26 00:00:00
1911         2973   1329061  2009-03-26 00:00:00
1912         2973   1329062  2009-03-22 00:00:00

[1243 rows x 3 columns]

In [15]:
blah[blah['count']>1000]['OrgID'].values

array([2647, 2741, 2828, 2736])

In [152]:
sort_30 = sorted_df[sorted_df['animalOrgID']==30]
sort_30[sort_30['animalFoundDate']!='nothing']

      animalOrgID   animalID      animalFoundDate
609          30.0   266314.0  2007-07-31 00:00:00
1281         30.0   288970.0  2007-08-26 00:00:00
1147         30.0   819696.0  2008-08-06 00:00:00
1769         30.0  1289551.0  2009-02-10 00:00:00
621          30.0  1294276.0  2009-03-09 00:00:00
1363         30.0  1298394.0  2009-03-07 00:00:00

In [153]:
blah

      OrgID  count
0    1143.0   3759
1     586.0   3511
2    1059.0   2929
3    2647.0   2890
4     240.0   2640
5    2741.0   2194
6      30.0   1999
7    2259.0   1963
8     268.0   1735
9      66.0   1474
10    273.0   1437
11   1796.0   1379
12    635.0   1313
13    704.0   1303
14   2828.0   1287
15   2456.0   1284
16   2736.0   1264
17    666.0   1262
18    993.0   1252
19    528.0   1180
20   1331.0   1167
21   1023.0   1149
22    633.0   1128
23    163.0   1122
24   2478.0   1090
25   2075.0   1086
26    597.0   1033
27    884.0   1031
28   2046.0   1022
29    887.0    987
..      ...    ...
575  2027.0      2
576   760.0      2
577   276.0      2
578   862.0      2
579  1605.0      2
580  1493.0      1
581  3030.0      1
582   892.0      1
583   767.0      1
584  1558.0      1
585  2168.0      1
586   774.0      1
587  2360.0      1
588  1310.0      1
589   614.0      1
590    68.0      1
591  1471.0      1
592  1809.0      1
593  1289.0      1
594   439.0      1
595  1211.0      1
596   730.0      1
597  1507.0      1
598  1883.0      1
599   509.0      1
600  1080.0      1
601   110.0      1
602  2417.0      1
603  1476.0      1
604   512.0      1

[605 rows x 2 columns]

In [154]:
df.shape

(166000, 57)

In [155]:
small_df = sorted_df[sorted_df['animalOrgID'].isin(orgs_of_interest)]

In [156]:
small_df.head()

      animalOrgID  animalID animalFoundDate
1093         30.0    2615.0         nothing
614          30.0    2716.0         nothing
1838         30.0    2803.0         nothing
1375         30.0    2967.0         nothing
1377         30.0    2968.0         nothing

In [195]:
small_df = small_df.reset_index()

ValueError: cannot insert level_0, already exists

In [335]:
small_sub = small_df[small_df['animalOrgID']==1143]
dates = small_sub[small_sub['animalFoundDate']!='nothing']['animalFoundDate']
print dates
indices = dates.index
print len(dates)
index_pairs = [(i,j) for i, j in zip(indices[:-1], indices[1:])]
print index_pairs
date_pairs = np.array([(i,j) for i, j in zip(dates[:-1], dates[1:])])
print date_pairs
diffs = np.array([(j-i).days for i, j in zip(dates[:-1], dates[1:])])
print diffs

15349    2007-10-13 00:00:00
15574    2007-12-21 00:00:00
15842    2008-02-23 00:00:00
15875    2008-03-01 00:00:00
15880    2008-03-04 00:00:00
15888    2008-02-27 00:00:00
15892    2008-03-08 00:00:00
15898    2008-03-04 00:00:00
15899    2008-03-04 00:00:00
15930    2008-03-08 00:00:00
15938    2008-03-13 00:00:00
15948    2008-03-15 00:00:00
15997    2006-03-22 00:00:00
16033    2008-03-25 00:00:00
16041    2008-03-21 00:00:00
16045    2008-03-29 00:00:00
17343    2008-10-17 00:00:00
18039    2009-04-12 00:00:00
Name: animalFoundDate, dtype: object
18
[(15349, 15574), (15574, 15842), (15842, 15875), (15875, 15880), (15880, 15888), (15888, 15892), (15892, 15898), (15898, 15899), (15899, 15930), (15930, 15938), (15938, 15948), (15948, 15997), (15997, 16033), (16033, 16041), (16041, 16045), (16045, 17343), (17343, 18039)]
[[Timestamp('2007-10-13 00:00:00') Timestamp('2007-12-21 00:00:00')]
 [Timestamp('2007-12-21 00:00:00') Timestamp('2008-02-23 00:00:00')]
 [Timestamp('2008-02-23 00:00:00') Timestamp('2008-03-01 00:00:00')]
 [Timestamp('2008-03-01 00:00:00') Timestamp('2008-03-04 00:00:00')]
 [Timestamp('2008-03-04 00:00:00') Timestamp('2008-02-27 00:00:00')]
 [Timestamp('2008-02-27 00:00:00') Timestamp('2008-03-08 00:00:00')]
 [Timestamp('2008-03-08 00:00:00') Timestamp('2008-03-04 00:00:00')]
 [Timestamp('2008-03-04 00:00:00') Timestamp('2008-03-04 00:00:00')]
 [Timestamp('2008-03-04 00:00:00') Timestamp('2008-03-08 00:00:00')]
 [Timestamp('2008-03-08 00:00:00') Timestamp('2008-03-13 00:00:00')]
 [Timestamp('2008-03-13 00:00:00') Timestamp('2008-03-15 00:00:00')]
 [Timestamp('2008-03-15 00:00:00') Timestamp('2006-03-22 00:00:00')]
 [Timestamp('2006-03-22 00:00:00') Timestamp('2008-03-25 00:00:00')]
 [Timestamp('2008-03-25 00:00:00') Timestamp('2008-03-21 00:00:00')]
 [Timestamp('2008-03-21 00:00:00') Timestamp('2008-03-29 00:00:00')]
 [Timestamp('2008-03-29 00:00:00') Timestamp('2008-10-17 00:00:00')]
 [Timestamp('2008-10-17 00:00:00') Timestamp('2009-04-12 00:00:00')]]
[  69   64    7    3   -6   10   -4    0    4    5    2 -724  734   -4    8
  202  177]

In [262]:
test = 15350
which_pair = np.array([((test < pair[1]) and (test > pair[0])) for pair in date_pairs])
diffs[which_pair][0]

69

In [307]:
small_sub['date_diff'] = small_sub['level_0'].apply(lambda x: 9999 if (x<indices[0] or x>indices[-1]) else diffs[np.array([((x <= pair[1]) and (x >= pair[0])) for pair in index_pairs])][0])

/Users/tracylee/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [308]:
keep_df = small_sub[abs(small_sub['date_diff'])<=30]
keep_df

       level_0  index  animalOrgID  animalID      animalFoundDate  date_diff
15843    15843   1611       1143.0  440114.0              nothing          7
15844    15844   1612       1143.0  440115.0              nothing          7
15845    15845   1613       1143.0  440117.0              nothing          7
15846    15846   1608       1143.0  440119.0              nothing          7
15847    15847   1457       1143.0  440121.0              nothing          7
15848    15848    219       1143.0  440151.0              nothing          7
15849    15849    218       1143.0  440156.0              nothing          7
15850    15850    216       1143.0  440158.0              nothing          7
15851    15851    217       1143.0  440159.0              nothing          7
15852    15852    490       1143.0  440199.0              nothing          7
15853    15853   1594       1143.0  440201.0              nothing          7
15854    15854   1595       1143.0  440202.0              nothing          7
15855    15855   1596       1143.0  440203.0              nothing          7
15856    15856   1590       1143.0  440204.0              nothing          7
15857    15857   1591       1143.0  440205.0              nothing          7
15858    15858   1593       1143.0  440207.0              nothing          7
15859    15859    279       1143.0  440210.0              nothing          7
15860    15860    609       1143.0  440211.0              nothing          7
15861    15861    320       1143.0  440916.0              nothing          7
15862    15862   1204       1143.0  440921.0              nothing          7
15863    15863   1922       1143.0  442952.0              nothing          7
15864    15864   1928       1143.0  442958.0              nothing          7
15865    15865    327       1143.0  442963.0              nothing          7
15866    15866    341       1143.0  445644.0              nothing          7
15867    15867    340       1143.0  445646.0              nothing          7
15868    15868    342       1143.0  445648.0              nothing          7
15869    15869    250       1143.0  445651.0              nothing          7
15870    15870    248       1143.0  445654.0              nothing          7
15871    15871    110       1143.0  445660.0              nothing          7
15872    15872    111       1143.0  445663.0              nothing          7
...        ...    ...          ...       ...                  ...        ...
15931    15931    252       1143.0  455972.0              nothing          5
15932    15932    253       1143.0  455973.0              nothing          5
15933    15933    246       1143.0  455974.0              nothing          5
15934    15934    247       1143.0  455975.0              nothing          5
15935    15935   1624       1143.0  455977.0              nothing          5
15936    15936   1235       1143.0  462582.0              nothing          5
15937    15937    981       1143.0  466915.0              nothing          5
15938    15938    806       1143.0  466921.0  2008-03-13 00:00:00          5
15939    15939   1098       1143.0  467327.0              nothing          2
15940    15940   1206       1143.0  467337.0              nothing          2
15941    15941   1775       1143.0  467370.0              nothing          2
15942    15942   1260       1143.0  467404.0              nothing          2
15943    15943   1145       1143.0  467419.0              nothing          2
15944    15944   1402       1143.0  467435.0              nothing          2
15945    15945    551       1143.0  467451.0              nothing          2
15946    15946     23       1143.0  468054.0              nothing          2
15947    15947   1711       1143.0  468076.0              nothing          2
15948    15948   1710       1143.0  468077.0  2008-03-15 00:00:00          2
16034    16034    726       1143.0  479778.0              nothing         -4
16035    16035    388       1143.0  483538.0              nothing         -4
16036    16036    534       1143.0  483542.0              nothing         -4
16037    16037    540       1143.0  483548.0              nothing         -4
16038    16038    233       1143.0  483553.0              nothing         -4
16039    16039    672       1143.0  483556.0              nothing         -4
16040    16040    671       1143.0  483557.0              nothing         -4
16041    16041    792       1143.0  483561.0  2008-03-21 00:00:00         -4
16042    16042    828       1143.0  483578.0              nothing          8
16043    16043   1941       1143.0  483579.0              nothing          8
16044    16044   1854       1143.0  483580.0              nothing          8
16045    16045    827       1143.0  483581.0  2008-03-29 00:00:00          8

[118 rows x 6 columns]

In [336]:
def label(row):
    if row['animalFoundDate']!='nothing':
        return row['animalFoundDate']
    else:
        bounds = date_pairs[np.array([((row['level_0']<pair[1]) and (row['level_0']>=pair[0])) for pair in index_pairs])][0]
        return bounds[0] + (bounds[1]-bounds[0])/2

In [337]:
keep_df['imputed'] = keep_df.apply(lambda x: label(x), axis=1)

In [339]:
keep_df

,level_0,index,animalOrgID,animalID,animalFoundDate,date_diff,imputed
15843,15843,1611,1143.0,440114.0,nothing,7,2008-02-26 12:00:00
15844,15844,1612,1143.0,440115.0,nothing,7,2008-02-26 12:00:00
15845,15845,1613,1143.0,440117.0,nothing,7,2008-02-26 12:00:00
15846,15846,1608,1143.0,440119.0,nothing,7,2008-02-26 12:00:00
15847,15847,1457,1143.0,440121.0,nothing,7,2008-02-26 12:00:00
15848,15848,219,1143.0,440151.0,nothing,7,2008-02-26 12:00:00
15849,15849,218,1143.0,440156.0,nothing,7,2008-02-26 12:00:00
15850,15850,216,1143.0,440158.0,nothing,7,2008-02-26 12:00:00
15851,15851,217,1143.0,440159.0,nothing,7,2008-02-26 12:00:00
15852,15852,490,1143.0,440199.0,nothing,7,2008-02-26 12:00:00
15853,15853,1594,1143.0,440201.0,nothing,7,2008-02-26 12:00:00
15854,15854,1595,1143.0,440202.0,nothing,7,2008-02-26 12:00:00
15855,15855,1596,1143.0,440203.0,nothing,7,2008-02-26 12:00:00
15856,15856,1590,1143.0,440204.0,nothing,7,2008-02-26 12:00:00
15857,15857,1591,1143.0,440205.0,nothing,7,2008-02-26 12:00:00
15858,15858,1593,1143.0,440207.0,nothing,7,2008-02-26 12:00:00
15859,15859,279,1143.0,440210.0,nothing,7,2008-02-26 12:00:00
15860,15860,609,1143.0,440211.0,nothing,7,2008-02-26 12:00:00
15861,15861,320,1143.0,440916.0,nothing,7,2008-02-26 12:00:00
15862,15862,1204,1143.0,440921.0,nothing,7,2008-02-26 12:00:00
15863,15863,1922,1143.0,442952.0,nothing,7,2008-02-26 12:00:00
15864,15864,1928,1143.0,442958.0,nothing,7,2008-02-26 12:00:00
15865,15865,327,1143.0,442963.0,nothing,7,2008-02-26 12:00:00
15866,15866,341,1143.0,445644.0,nothing,7,2008-02-26 12:00:00
15867,15867,340,1143.0,445646.0,nothing,7,2008-02-26 12:00:00
15868,15868,342,1143.0,445648.0,nothing,7,2008-02-26 12:00:00
15869,15869,250,1143.0,445651.0,nothing,7,2008-02-26 12:00:00
15870,15870,248,1143.0,445654.0,nothing,7,2008-02-26 12:00:00
15871,15871,110,1143.0,445660.0,nothing,7,2008-02-26 12:00:00
15872,15872,111,1143.0,445663.0,nothing,7,2008-02-26 12:00:00
...,...,...,...,...,...,...,...
15931,15931,252,1143.0,455972.0,nothing,5,2008-03-10 12:00:00
15932,15932,253,1143.0,455973.0,nothing,5,2008-03-10 12:00:00
15933,15933,246,1143.0,455974.0,nothing,5,2008-03-10 12:00:00
15934,15934,247,1143.0,455975.0,nothing,5,2008-03-10 12:00:00
15935,15935,1624,1143.0,455977.0,nothing,5,2008-03-10 12:00:00
15936,15936,1235,1143.0,462582.0,nothing,5,2008-03-10 12:00:00
15937,15937,981,1143.0,466915.0,nothing,5,2008-03-10 12:00:00
15938,15938,806,1143.0,466921.0,2008-03-13 00:00:00,5,2008-03-13 00:00:00
15939,15939,1098,1143.0,467327.0,nothing,2,2008-03-14 00:00:00
15940,15940,1206,1143.0,467337.0,nothing,2,2008-03-14 00:00:00
15941,15941,1775,1143.0,467370.0,nothing,2,2008-03-14 00:00:00
15942,15942,1260,1143.0,467404.0,nothing,2,2008-03-14 00:00:00
15943,15943,1145,1143.0,467419.0,nothing,2,2008-03-14 00:00:00
15944,15944,1402,1143.0,467435.0,nothing,2,2008-03-14 00:00:00
15945,15945,551,1143.0,467451.0,nothing,2,2008-03-14 00:00:00
15946,15946,23,1143.0,468054.0,nothing,2,2008-03-14 00:00:00
15947,15947,1711,1143.0,468076.0,nothing,2,2008-03-14 00:00:00
15948,15948,1710,1143.0,468077.0,2008-03-15 00:00:00,2,2008-03-15 00:00:00
16034,16034,726,1143.0,479778.0,nothing,-4,2008-03-23 00:00:00
16035,16035,388,1143.0,483538.0,nothing,-4,2008-03-23 00:00:00
16036,16036,534,1143.0,483542.0,nothing,-4,2008-03-23 00:00:00
16037,16037,540,1143.0,483548.0,nothing,-4,2008-03-23 00:00:00
16038,16038,233,1143.0,483553.0,nothing,-4,2008-03-23 00:00:00
16039,16039,672,1143.0,483556.0,nothing,-4,2008-03-23 00:00:00
16040,16040,671,1143.0,483557.0,nothing,-4,2008-03-23 00:00:00
16041,16041,792,1143.0,483561.0,2008-03-21 00:00:00,-4,2008-03-21 00:00:00
16042,16042,828,1143.0,483578.0,nothing,8,2008-03-25 00:00:00
16043,16043,1941,1143.0,483579.0,nothing,8,2008-03-25 00:00:00
16044,16044,1854,1143.0,483580.0,nothing,8,2008-03-25 00:00:00
16045,16045,827,1143.0,483581.0,2008-03-29 00:00:00,8,2008-03-29 00:00:00

In [316]:
keep_df.iloc[0]

level_0              15843
index                 1611
animalOrgID           1143
animalID            440114
animalFoundDate    nothing
date_diff                7
Name: 15843, dtype: object

In [283]:
small_sub.head()

       level_0  index  animalOrgID  animalID animalFoundDate  date_diff
14288    14288   1607       1143.0  260550.0         nothing       9999
14289    14289   1203       1143.0  260580.0         nothing       9999
14290    14290   1052       1143.0  260592.0         nothing       9999
14291    14291   1051       1143.0  260594.0         nothing       9999
14292    14292   1665       1143.0  260609.0         nothing       9999

In [278]:
small_sub.shape

(3759, 6)

In [327]:
index_pairs

[(15349, 15574),
 (15574, 15842),
 (15842, 15875),
 (15875, 15880),
 (15880, 15888),
 (15888, 15892),
 (15892, 15898),
 (15898, 15899),
 (15899, 15930),
 (15930, 15938),
 (15938, 15948),
 (15948, 15997),
 (15997, 16033),
 (16033, 16041),
 (16041, 16045),
 (16045, 17343),
 (17343, 18039)]

In [304]:
print date_pairs

[(Timestamp('2007-10-13 00:00:00'), Timestamp('2007-12-21 00:00:00')), (Timestamp('2007-12-21 00:00:00'), Timestamp('2008-02-23 00:00:00')), (Timestamp('2008-02-23 00:00:00'), Timestamp('2008-03-01 00:00:00')), (Timestamp('2008-03-01 00:00:00'), Timestamp('2008-03-04 00:00:00')), (Timestamp('2008-03-04 00:00:00'), Timestamp('2008-02-27 00:00:00')), (Timestamp('2008-02-27 00:00:00'), Timestamp('2008-03-08 00:00:00')), (Timestamp('2008-03-08 00:00:00'), Timestamp('2008-03-04 00:00:00')), (Timestamp('2008-03-04 00:00:00'), Timestamp('2008-03-04 00:00:00')), (Timestamp('2008-03-04 00:00:00'), Timestamp('2008-03-08 00:00:00')), (Timestamp('2008-03-08 00:00:00'), Timestamp('2008-03-13 00:00:00')), (Timestamp('2008-03-13 00:00:00'), Timestamp('2008-03-15 00:00:00')), (Timestamp('2008-03-15 00:00:00'), Timestamp('2006-03-22 00:00:00')), (Timestamp('2006-03-22 00:00:00'), Timestamp('2008-03-25 00:00:00')), (Timestamp('2008-03-25 00:00:00'), Timestamp('2008-03-21 00:00:00')), (Timestamp('2008-03-21 00:00:00'), Timestamp('2008-03-29 00:00:00')), (Timestamp('2008-03-29 00:00:00'), Timestamp('2008-10-17 00:00:00')), (Timestamp('2008-10-17 00:00:00'), Timestamp('2009-04-12 00:00:00'))]

In [22]:
date_df = df[['animalAdoptedDate', 'animalAvailableDate', 'animalFoundDate', 'animalKillDate']]

In [25]:
date_df = date_df.fillna('nothing')
date_df[date_df['animalAvailableDate']!='nothing'].shape

(3438, 4)

In [26]:
date_df = date_df.fillna('nothing')
date_df[date_df['animalFoundDate']!='nothing'].shape

(1243, 4)

In [27]:
df.shape

(56000, 57)